* {
    box-sizing: border-box;
}

.header {
    text-align: center;
    color: black;
    margin: 0px;
}

#food-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px
}

.banner {
    background-color: turquoise;
    padding: 20px;
}

.meal {
    border-radius: 20px;
    padding: 5px;
    text-align: center;
    width: 300px;
    gap: 10px;
    box-shadow: 10px 10px 5px gray;
}

.meal :hover {
    background-color: brown;
}

.detailsHading {
    border-radius: 20px;
    margin-left: 20px;
    text-align: center;
    width: 97%;
    gap: 4px;
}

.img {
    width: 250px;
    border-radius: 20px;
}

.imgHading {
    width: 30%;
    border-radius: 40px;
    box-shadow: 10px 10px 5px gray;
}

.details {
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
    color: black;
    font-size: 20px;
}

.Instructions {
    color: black;
    padding: 5px;
}

.liStyle {
    color: black;
    font-size: medium;
}

.instruction-unit {
    color: black;
    margin: 5px;
}

.container {
    margin-left: 40%;
    padding: 40px;
}

.container button:hover {
    background: cadetblue;
}